.icons-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container {
    padding: 1rem 1.5rem;
    /* Original
    background-color: #614aeb; */

    color: white;
    background: rgba(10, 10, 10, .4);
    backdrop-filter: blur(10px);
    /*blur behind navbar*/
    border-top: 4px solid rgba(0, 0, 0, .9) inset;
}

.admin-btn {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}


.footer-container img {
    width: 100%;
}

.social-icon-wrapper img {
    width: 24px;
    height: 24px;
}