.footer-container {
    background-color: #614aeb;
    width: 100%;
    padding: 1rem 0; 
}


.social-icon-wrapper {
    width: 24px;
    height: 24px;
}

.social-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}