html, body {
    background-color: #0d0d14 !important;
    height: 100%;
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
    margin-top: auto;
}

.custom-form-wrapper {
    background-color: #0d0d14;
}

.custom-form .mb-3 {
    margin-bottom: 1rem; /* or 0 if you want no gap */
}

.btn-primary {
    background-color: #614aeb !important;
    border-color: #614aeb !important;

}

.btn-primary:hover {
    opacity: 0.75 !important;
    background-color: #614aeb !important;
    border-color: #614aeb !important;

}