/**{
    background: #181820;
}*/

body {
    background-color: #0d0d14 !important;
}

.custom-form-wrapper {
    background-color: #0d0d14; /* optional, ensures matching */
}

.custom-form .mb-3 {
    margin-bottom: 1rem; /* or 0 if you want no gap */
}
