.navbar {
    background-color: #614aeb;
}

.logout-btn {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}